body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;
}
h1{
    font-size: 50px;
}
span{
    color:orange;
}
section{
    display: flex;
    margin-bottom: 30px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 80%;
}
.link-aria{
    text-decoration: none;
    color: white;
    font-weight: 800;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.drim-big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width img{
    width: 80%;
}